* {
    box-sizing: border-box;
    font-family: 'Hammersmith One';
    margin: 0;
    padding: 0;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    padding: 10px 30px;
}

header nav {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-top: 5px;
    align-items: center; 
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #5E00FF;
}


@media (max-width: 1000px) {
    header {
        padding: 10px 20px;
    }

    header nav {
        gap: 15px;
        font-size: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }

    header nav a {
        font-size: 16px;
    }
}


@media (max-width: 300px) {
    header {
        padding: 10px 15px;
        justify-content: center; 
    }

    header nav {
        gap: 20px; 
    }
}

/*Body*/

body {
    background-color: #2D2D2D;
}

/*Apresentacao*/

/*Div da Apresentação*/
.apr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.txtapr {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/*Estilização e espaçamento dos textos*/
.txtapr p, h1 {
    margin: 0;
    padding: 0;
}

.apr p {
    color: #FFFFFF;
    font-size: 30px;
}

.apr h1{
    color: #5E00FF;
    font-size:50px
}
/*Ajuste e estilizações dos botões*/
.apr .btn {
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    width: 25%;
    margin-top: 10px;
    flex-shrink: 0;
}

.apr .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.apr .btn span {
    display: inline-block;
    vertical-align: middle;
}

.apr .btn:hover {
    background-color: #5E00FF;
}

.aprimg {
    width: 340px;
    height: 340px;
    margin-top: 65px;
    border:16px solid #2D2D2D;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #5E00FF;
}

@media (max-width: 1024px) {
    .apr {
        gap: 50px;
        margin-top: 10%;
    }

    .txtapr {
        width: 40%;
    }

    .aprimg {
        width: 300px;
        height: 300px;
    }

    .apr .btn {
        width: 30%;
    }

    .apr p {
        font-size: 25px;
    }

    .apr h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .apr {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .txtapr {
        width: 80%;
    }

    .aprimg {
        width: 250px;
        height: 250px;
    }

    .apr .btn {
        width: 30%;
    }

    .apr p {
        font-size: 22px;
    }

    .apr h1 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .apr {
        margin-top: 15%;
        gap: 15px;
    }

    .txtapr {
        width: 90%;
    }

    .aprimg {
        width: 220px;
        height: 220px;
    }

    .apr .btn {
        width: 30%;
        font-size: 9px;
    }

    .apr .btn img {
        width: 30%;
        height: 30%;
        font-size: 12px;
    }

    .apr p {
        font-size: 20px;
    }

    .apr h1 {
        font-size: 30px;
    }
}

/*Sobre mim*/
.sobre {
    background-color: #000;
    margin-top: 3%;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    padding: 20px;              
    text-align: center;        
}

.sobre p, h1 {
    color: #FFFFFF;
}

.sobre .btn{
    background-color: #2D2D2D;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    width: 13%;
    margin-top: 10px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;  
}

.sobre .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.sobre .btn span {
    display: inline-block;
    vertical-align: middle;
}

.sobre .btn:hover {
    background-color:#5E00FF;
}

.sobre .txt p {
    width: 65%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 24px;
    margin-top: 2%;
}

.sobre .txt .tags {
    display: flex;
    flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
    gap: 0px;  /* Espaçamento entre as tags */
    margin-top: 20px;
    width: 46%;
    margin-left: auto;
    margin-right: auto; 
}

.sobre .txt .tags p {
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    width: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 auto;  /* Permite que as tags se ajustem de acordo com o conteúdo */
    min-width: 90px;  /* Largura mínima para cada tag */
    width: auto;  /* As tags podem se ajustar automaticamente */
}

@media (max-width: 800px) {
    .sobre .txt p {
        width: 100%;
        margin-top: 10px;
    }
    .sobre .btn {
        width: 110px;
    }
}

@media (max-width: 480px) {
    .sobre .txt p {
        width: 100%;
    }
    .sobre .btn {
        width: 150px;
    }
    .sobre .txt .tags p {
        min-width: 70px;  /* Largura mínima ainda mais reduzida */
        padding: 4px 8px;  /* Ajusta o padding para telas pequenas */
    }
}

/*Projetos*/
.project-title {
    margin-top: 1%;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    padding: 5px;          
    text-align: center; 
}

.project-title p {
    color: #FFFFFF;
    
}

.project-container {
    display: flex;                  /* Usando flexbox para alinhar os itens */
    flex-wrap: wrap;                /* Permite que as caixas quebrem para a próxima linha quando não houver espaço */
    justify-content: flex-start;    /* Alinha as caixas à esquerda */
    gap: 20px;                      /* Espaçamento entre as caixas */
    margin-top: 20px;
    padding: 20px;
}

.project-box {
    width: 275px;
    height: 275px;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
    background-color: #5E00FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    flex-shrink: 0; 
    cursor: pointer;
    transition: 0.3s;
    color: #FFFFFF;
}

.project-box img {
    border-radius: 10px;
    width: 220px;
    height: 120px;
}


.project-box:hover {
    color: #5E00FF;
    background-color: #FFFFFF; /* Efeito de hover */
    transform: scale(1.08);
}

/*Popup Projeto*/
.popup {
    display:none;
    position: fixed;
    z-index: 1; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Permite rolar o conteúdo */
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo do popup */
}

.popup-content {
    display: flex;
    align-items: center;
    background-color: #5E00FF;
    margin: 15% auto;
    padding: 20px;
    width: 80%; /* Largura do modal */
    max-width: 900px; /* Limita a largura */
    height: 80%;
    max-height: 700px;
    border-radius: 15px;
    gap: 15px;
}

.popup-content .btnClose {
    cursor: pointer;
    width: 48px;
    height:48px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-content p, h2 {
    color: #FFFFFF;
}

.popup-content h2 {
    text-align: center;
}

.popup-content .space {
    margin-top: 80px;
}

.popup-content .tags {
    display: flex;
    flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
    gap: 13px;  /* Espaçamento entre as tags */
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.popup-content .tags p {
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    width: 5%;
    text-align: center;
    flex: 0 1 auto;  /* Permite que as tags se ajustem de acordo com o conteúdo */
    min-width: 60px;  /* Largura mínima para cada tag */
    width: auto;  /* As tags podem se ajustar automaticamente */
}

.popup-content .preview-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.popup-content .preview-container .preview{
    width: 357px;
    height: 210px;
}

.popup-content .popup-arrow-left {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.popup-content .popup-arrow-right {
    width: 35px;
    height: 35px;
    transform: scaleX(-1);
    cursor: pointer;
}

.popup-content .descr {
    width: 80%;
    font-size: 20px;
}

.popup-content .btn {
        background-color: #000;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        width: 60%;
        max-height: 45px;
        margin-top: 40px;
        flex-shrink: 0;
}

.popup-content .btn img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    vertical-align: middle;
}

.popup-content .btn:hover {
    background-color: #FFFFFF;
    color: #5E00FF;
}

@media (max-width: 1200px) {
    
    .popup-content .descr {
        font-size: 15px;
        width: 100%;
    }
    .popup-content .preview-container .preview {
        width: 275px;
        height: 145px;
    }

}

@media (max-width: 800px) {
    .popup-content{
        flex-wrap: wrap;
        width: 90%;
        gap: 10px
    }
    .popup-content .preview-container .preview {
        width: 365px;
        height: 185px;
    }
    .popup-content .tags {
            display: flex;
            flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
            gap: 7px;  /* Espaçamento entre as tags */
            margin-top: 10px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
    }
    .popup-content .tags p {
        padding: 3px 5px;
        font-size: 10px;
        width: 2%;
        max-width: 23%;
        width: auto;
    }
    .popup-content .space {
        margin-top: 20px;
    }
    .popup-content .descr {
        font-size: 13px;
        width: 100%;
    }
    .popup-content .btn {
        font-size: 10px;
        cursor: pointer;
        width: 35%;
        max-height: 30px;
        margin-top: 5px;
    }
    .popup-content .btn img {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 800px) {
    .popup-content{
        flex-wrap: wrap;
        width: 90%;
        gap: 10px
    }
    .popup-content .preview-container .preview {
        width: 365px;
        height: 185px;
    }
    .popup-content .tags {
            display: flex;
            flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
            gap: 7px;  /* Espaçamento entre as tags */
            margin-top: 10px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
    }
    .popup-content .tags p {
        padding: 3px 5px;
        font-size: 10px;
        width: 2%;
        max-width: 23%;
        width: auto;
    }
    .popup-content .space {
        margin-top: 20px;
    }
    .popup-content .descr {
        font-size: 13px;
        width: 100%;
    }
    .popup-content .btn {
        font-size: 10px;
        cursor: pointer;
        width: 35%;
        max-height: 30px;
        margin-top: 5px;
    }
    .popup-content .btn img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 550px) {
    .popup-content{
        flex-wrap: wrap;
        width: 90%;
        gap: 10px
    }
    .popup-content .preview-container .preview {
        width: 165px;
        height: 100px;
    }
    .popup-content .tags {
            display: flex;
            flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
            gap: 7px;  /* Espaçamento entre as tags */
            margin-top: 10px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
    }
    .popup-content .tags p {
        padding: 3px 5px;
        font-size: 10px;
        width: 2%;
        max-width: 23%;
        width: auto;
    }
    .popup-content .space {
        margin-top: 20px;
    }
    .popup-content .descr {
        font-size: 12px;
        width: 100%;
    }
    .popup-content .btn {
        font-size: 10px;
        cursor: pointer;
        width: 60%;
        max-height: 45px;
        margin-top: 5px;
    }
    .popup-content .btn img {
        width: 20px;
        height: 20px;
    }
}


/*Contato*/

.contato {
    background-color: #000;
    margin-top: 3%;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    padding: 20px;              
    text-align: center;        
    gap: 10px
}

.contato h1 {
    margin-bottom: 20px;
}

.contato textarea {
    padding: 10px;
    height: 225px;
    width: 40%;
    resize: none;
    border-radius: 10px;
}

.contato input {
    padding: 10px;
    height: 40px;
    width: 40%;
    border-radius: 10px;
}

.contato button {
    background-color: #5E00FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contato button:hover{
    background-color: #FFFFFF;
    color: #5E00FF;
}

.contato label {
    color: #FFFFFF;
    width: 50%;
}

@media (max-width: 768px) {
    .contato textarea, 
    .contato input {
        width: 50%; /* Ocupa mais espaço em telas menores */
    }
}

footer {
    background-color: #5E00FF;;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 30px;
    gap: 10px;
}

footer img {
    width: 25px;
    height: 25px;
}

footer p {
    color: #FFFFFF;
}

@media (max-width: 480px) {
    footer {
        padding: 15px; /* Ajusta o espaçamento */
    }
}

#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    color: #3A00B5;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Ocultar por padrão */
    transition: opacity 0.3s ease-in-out;
}

#btnTopo:hover {
    background-color: #d3d3d3;
}



