* {
    box-sizing: border-box;
    font-family: 'Hammersmith One';
    margin: 0;
    padding: 0;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    padding: 10px 30px;
}

header nav {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-top: 5px;
    align-items: center; 
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #5E00FF;
}


@media (max-width: 1000px) {
    header {
        padding: 10px 20px;
    }

    header nav {
        gap: 15px;
        font-size: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }

    header nav a {
        font-size: 16px;
    }
}


@media (max-width: 300px) {
    header {
        padding: 10px 15px;
        justify-content: center; 
    }

    header nav {
        gap: 20px; 
    }
}

/*Body*/

body {
    background-color: #2D2D2D;
}

/*Apresentacao*/

/*Div da Apresentação*/
.apr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.txtapr {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/*Estilização e espaçamento dos textos*/
.txtapr p, h1 {
    margin: 0;
    padding: 0;
}

.apr p {
    color: #FFFFFF;
    font-size: 30px;
}

.apr h1{
    color: #5E00FF;
    font-size:50px
}
/*Ajuste e estilizações dos botões*/
.apr .btn {
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    width: 25%;
    margin-top: 10px;
    flex-shrink: 0;
}

.apr .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.apr .btn span {
    display: inline-block;
    vertical-align: middle;
}

.apr .btn:hover {
    background-color: #5E00FF;
}

.aprimg {
    width: 340px;
    height: 340px;
    margin-top: 65px;
    border:16px solid #2D2D2D;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #5E00FF;
}

@media (max-width: 1024px) {
    .apr {
        gap: 50px;
        margin-top: 10%;
    }

    .txtapr {
        width: 40%;
    }

    .aprimg {
        width: 300px;
        height: 300px;
    }

    .apr .btn {
        width: 30%;
    }

    .apr p {
        font-size: 25px;
    }

    .apr h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .apr {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .txtapr {
        width: 80%;
    }

    .aprimg {
        width: 250px;
        height: 250px;
    }

    .apr .btn {
        width: 30%;
    }

    .apr p {
        font-size: 22px;
    }

    .apr h1 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .apr {
        margin-top: 15%;
        gap: 15px;
    }

    .txtapr {
        width: 90%;
    }

    .aprimg {
        width: 220px;
        height: 220px;
    }

    .apr .btn {
        width: 30%;
        font-size: 9px;
    }

    .apr .btn img {
        width: 30%;
        height: 30%;
        font-size: 12px;
    }

    .apr p {
        font-size: 20px;
    }

    .apr h1 {
        font-size: 30px;
    }
}

/*Sobre mim*/
.sobre {
    background-color: #000;
    margin-top: 3%;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    padding: 20px;              
    text-align: center;        
}

.sobre p, h1 {
    color: #FFFFFF;
}

.sobre .btn{
    background-color: #2D2D2D;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    width: 13%;
    margin-top: 10px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;  
}

.sobre .btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.sobre .btn span {
    display: inline-block;
    vertical-align: middle;
}

.sobre .btn:hover {
    background-color:#5E00FF;
}

.sobre .txt p {
    width: 65%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 24px;
    margin-top: 2%;
}

.sobre .txt .tags {
    display: flex;
    flex-wrap: wrap;  /* Permite que as tags quebrem para a linha seguinte quando não houver espaço */
    gap: 0px;  /* Espaçamento entre as tags */
    margin-top: 20px;
    width: 46%;
    margin-left: auto;
    margin-right: auto; 
}

.sobre .txt .tags p {
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    width: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 auto;  /* Permite que as tags se ajustem de acordo com o conteúdo */
    min-width: 90px;  /* Largura mínima para cada tag */
    width: auto;  /* As tags podem se ajustar automaticamente */
}

@media (max-width: 800px) {
    .sobre .txt p {
        width: 100%;
        margin-top: 10px;
    }
    .sobre .btn {
        width: 110px;
    }
}

@media (max-width: 480px) {
    .sobre .txt p {
        width: 100%;
    }
    .sobre .btn {
        width: 150px;
    }
    .sobre .txt .tags p {
        min-width: 70px;  /* Largura mínima ainda mais reduzida */
        padding: 4px 8px;  /* Ajusta o padding para telas pequenas */
    }
}

/*Projetos*/
.project-title {
    margin-top: 1%;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    padding: 5px;          
    text-align: center; 
}

.project-title p {
    color: #FFFFFF;
    
}

.project-container {
    display: flex;                  /* Usando flexbox para alinhar os itens */
    flex-wrap: wrap;                /* Permite que as caixas quebrem para a próxima linha quando não houver espaço */
    justify-content: flex-start;    /* Alinha as caixas à esquerda */
    gap: 20px;                      /* Espaçamento entre as caixas */
    margin-top: 20px;
    padding: 20px;
}

.project-box {
    width: 275px;
    height: 275px;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
    background-color: #5E00FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    flex-shrink: 0;                 /* Impede que a caixa encolha */
}

.project-box img {
    border-radius: 10px;
    width: 220px;
    height: 120px;
}

.project-box p, h3 {
    color: #FFFFFF;
}

/*Contato*/

